@charset "UTF-8";
/* CSS Document */

/*@font-face
{
font-family: myFirstFont;
src: url('/example/css3/Sansation_Light.ttf')
    ,url('/example/css3/Sansation_Light.eot'); *//* IE9+ */
/*}*/

body{
	margin:0;
	padding:0;
	}
.top{
	height:92px;
	overflow:hidden;
	}
.top_content{
	width:960px;
	height:92px;
	margin:0 auto;
	zoom:1;
	overflow:auto;
	}
.top_logo{
	float:left;
	width:221px;
	}
.splash{
	}
.splash_content{
    display: none;
	margin: 0 auto;
	text-align:center;
	}
.splash_shadow{
	width:960px;
	height:113px;
	margin:0 auto;
	}
	.splash_shadowb{
	width:916px;
	height:14px;
	margin:0 auto;
	}
.content{
	width:960px;
	margin:0 auto;
	}
.splash_zi{
	background:#000;
	height:283px;
	background-color:#000;
	text-align:center;
/*	background-image:url(../images/05.jpg);
	background-repeat:no-repeat;
	background-position:center;*/
	}
.splash_zi_zi{
	background:#f2f2f2;
	height:283px;
	background-color:#f2f2f2;
	text-align:center;
/*	background-image:url(../images/05.jpg);
	background-repeat:no-repeat;
	background-position:center;*/
	}
.content_mianbaoxie{
	width:940px;
	margin:0 auto;
	line-height:24px;
	border-bottom:1px dashed #464646;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	}
.content_mianbaoxie a{
	text-decoration:none;
	color:#0132ad;
	}
.content_ct{
	background:url(../images/07.jpg) no-repeat scroll 8px 20px;
	padding-top:94px;
	font-family:Arial, Helvetica-light, sans-serif;
	font-size:14px;
	}
	.content_ct_b{
	background:url(../images/overview.jpg) no-repeat scroll 8px 20px;
	padding-top:94px;
	font-family:Arial, Helvetica-light, sans-serif;
	font-size:14px;
	}
	.content_bt{
		height:64px;
		padding-top:30px;
		padding-left:10px;
		}
	.content_new{
		font-family:Arial, Helvetica-light, sans-serif;
		font-size:14px;
		overflow:auto;
		}
	.content_new ul{
		list-style:none;
		padding:0;
		margin:0;
		}
		.content_new li{
		list-style:none;
		padding-left:25px;
		background:url(../images/blue.jpg) no-repeat scroll 10px 12px;
		}
.pic{
	float:left;
	display:block;
	}
.ct_font{
	float:left;
	display:block;
	line-height:28px;
	padding-left:20px;
	}
.ma_top{
	margin-top:30px;
	}
.foot{
	text-align:center;
	font-size:12px;
	color:#000000;
	padding-top:200px;
	padding-bottom:50px;
	}
	
	
	
	
	
	
#menus{
            overflow: hidden;
			font-size:14px;
			margin:36px 0px 0px 340px;
			font-family:Arial, Helvetica-Regular, sans-serif;
        }

        #menus > li{
			text-transform:uppercase;
			width:102px;
			height:24px;
			line-height:24px;
            float: left;
            list-style: none;
			text-align:center;
			cursor:pointer;
	        }
		#menus > li:hover{
			width:102px;
			height:24px;
			line-height:24px;
			background:#fff;
			color:#ffa200;
			z-index:1999;
	        }
		.no_boder{
			text-transform:uppercase;
			
			height:24px;
			line-height:24px;
            float: left;
            list-style: none;
			text-align:center;
			
			}
			.no_boder:hover{
			
			height:24px;
			line-height:24px;
			color:#ffa200;
			z-index:1999;
			cursor:pointer;
				}
.m_r{
	margin-right: 44px;
	}
        

        #menus > li > ul{
            position: absolute;
			border-radius: 0px 0px 10px 10px;
            padding:10px 5px 5px 5px;
            z-index: 1000;
            display: none;
			background:rgba(255,255,255,0.5);
			filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7FFFFFFF,endcolorstr=#7FFFFFFF);/*#7F000000的前两位为16进制透明度，后六位为16进制颜色*/
			box-radius: 0px 0px 5px 5px;
			/*border-bottom:1px solid #d8d8d8;
			border-left:1px solid #d8d8d8;
			border-right:1px solid #d8d8d8;
			box-shadow: 0px 5px 4px #010;*/
        }
.dingwei_a{
	width:150px;
	margin: 0px 0px 0px -30px;
	}
.dingwei_b{
	width:170px;
	margin: 0px 0px 0px -40px;
	}
.dingwei_c{
	width:120px;
	margin: 0px 0px 0px -15px;
	}
	
	
        #menus > li > ul > li{
			display:block;
			font-size:12px;
			text-decoration:none;
			line-height:34px;
			
        }
		.yanse{
			color:#0132ad;
			line-height:24px;
			text-decoration:none;
		
			}
		.yanse:hover{
			color:#ffa200;
			text-decoration:none;
			
			}
