@charset "UTF-8";
/* CSS Document */

/*@font-face
{
font-family: myFirstFont;
src: url('/example/css3/Sansation_Light.ttf')
    ,url('/example/css3/Sansation_Light.eot'); *//* IE9+ */
/*}*/

body{
	margin:0;
	padding:10px 0 10px 0;
	}
header{
    overflow: hidden;
}
footer{
    margin-top: 80px;
    text-align: center;
	font-size:12px;
}


	
#menus{
        margin-top: 30px;
        font-size:14px;
        list-style: none;
        text-transform:uppercase;
        }
        #menus a{
            text-decoration: none;
        }
        #menus li{
            cursor:pointer;
        }
        #menus > li{
            float: left;
            padding: 5px 10px;
			margin-left:40px;
			border-radius:5px 5px 0px 0px;
	        }
        #menus  li:hover{
			background-color:rgba(0,0,0,0.1);
        }
		#menus li:hover a{
            color:#ffa200;
	        }
        #menus li.active{
            /*background-color: #666666;*/
			
        }
        #menus li.active a{
            color:#ffa200;
        }
        #menus > li > ul{
            list-style: none;
            position: absolute;
            margin: 5px 0 0 -10px;
            padding: 0;
            z-index: 1000;
            display: none;
			background:rgba(255,255,255,0.9);
			/*filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7FFFFFFF,endcolorstr=#7FFFFFFF);*//*#7F000000的前两位为16进制透明度，后六位为16进制颜色*/
        }
        #menus > li > ul > li{
            min-width: 100px;
            padding: 10px;
        }

.splash-image img{
    display: block;
}
.page-doc h4, .page-doc h3{
    font-weight: normal;
    color: #ffa200;
}
