body{
    background-color: #645e4f;
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}

.header-container{
    background: url('header-bg.jpg'), repeat-x;
    overflow: hidden;
}

.header{
    width: 980px;
    margin: 0 auto;
    clear: both;
}
.header .logo{
    float: left;
}
.header .menu{
    float: right;
    padding: 40px 0;
}

.header .menu a{
    color: #FDFDFD;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
.header .menu a:hover{
    /*background-color: #645e00;*/
}
.header .menu .menu-item{
    opacity: 0.5;
}
.header .menu .highlight{
    opacity: 1;
    color: #FFCA00;
}
.viewer{
    margin: 0 auto;
    position: relative;
    height: 450px;
}
.viewer .mask{
    background-color: #000000;
    opacity: 0.5;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.viewer .mask-text{
    position: absolute;
    top: 0;
    width: 100%;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    vertical-align: middle;
    padding-top: 7em;
}
.viewer .mask-text a{
    color: #FFCB00;
    text-decoration: none;
}

.content{
    border: 1px solid #645e4f;
    font-weight: normal;
    background-color: #FFFDF5;
    padding: 1em 1em;
}
.content h3{
    font-weight: normal;
}

.intro{
    color: #FDFDFD;
    font-size: 1.5em;
    text-align: center;
    background-color: #5E5849;
    padding: 1.5em 0;
}
.intro a{
    text-decoration: none;
    color: #FFCB00;
}
.footer{
    opacity: 0.7;
    color: #FDFDFD;
    text-align: center;
    font-size: 0.7em;
    padding: 1.3em 0;
}